#SliderImageImg {
  /* border: 2px solid red; */
  height: 100%;
}

/* #SliderImageImg>img{
    width: 100% !important;
     border: 2px solid red;
}  */

/* #mainSlider { */
  /* margin-top: 10%; */
  /* padding-top: 10%; */
  /* padding-bottom: 10%; */
/* } */
